* {
    box-sizing: border-box;
}

header {
    background-color: plum;
    color: white;
    font-size: 35px;
    padding: 30px;
    text-align: center;
}

.nav {
    text-align: center;
    background: rgb(250, 219, 250);
    margin: 0;
}

.nav li {
    font-size: 15px;
    padding: 20px;
    display: inline-block;
}

.sidebar {
    background-color: blueviolet;
    float: left;
    width: 20%;
    margin: 0;
}

.content {
    float: right;
    width: 80%;
    padding: 30px;
    line-height: 30px;
}

section::after {
    content: ' ';
    clear: both;
    display: block;
}

img {
    width: 300px;
    height: 300px;
}

.description {
    height: 300px;
    background-color: rgb(250, 219, 250);
    padding: 10px;
    overflow: auto;
}

.sidebar li {
    padding: 15px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: plum;
}

a:active {
    color: violet;
}

footer {
    background-color: blueviolet;
    color: white;
    text-align: center;
    line-height: 5px;
    padding: 20px;
    font-size: 10px;
}

footer::first-line {
    font-size: 15px;
    line-height: 25px;
}

ul {
    list-style: none;
}